/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Roboto:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

/* ------------ VARIABLES ------------ */
:root {
    /* FONT */
    --font: 'Lexend', sans-serif;

    /* COLORS */
    --color: #9176FF;
    --bg-color: #f4f4f4;
}

/* ------------ BASE ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: 1.5;

}


.text-justify {
    text-align: justify;
}



/* Encabezado */


header .nav-item .nav-link {
    line-height: 3;
}

.header .logo img {
    height: auto;
    max-width: 100%;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-link {
    list-style: none;
}

.header .nav-link li {
    display: inline-block;
    padding: 0 10px;
}

.header .nav-link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .nav-item .nav-link:hover {
    color: #1E66AA;
    transform: scale(1.1);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0081FD;
}

.header .nav-link {
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .btn button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background-color: #0081FD;
    border: 2px solid #1E66AA;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #FFFFFF;
    color: #0081FD;
    transform: scale(1.1);
}

/* cards */


.wrapper {
    width: 100%;
    border: 1px solid rgb(0, 129, 253);;
    background-color: rgb(0, 129, 253);
    margin-top: 105px;
    height: 580px;

}

.wrapper .carousel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 0 60px ;
    margin-top: 80px;

}

.carousel .card {
    height: 400px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.carousel .card .card__title{
    color: #fff;
    text-align: center;
    align-items: center;
}

#c1 {
    background: url(img/endodoncia.jpeg) no-repeat center center/cover;
}

#c2 {
    background: url(img/ortodoncia.jpeg) no-repeat center center/cover;
}

#c3 {
    background: url(img/periodoncia.jpeg) no-repeat center center/cover;
}

#c4 {
    background: url(img/protesis.jpeg) no-repeat center center/cover;
}

#c5 {
    background: url(img/odontopediatria.jpeg) no-repeat center center/cover;
}

#c6 {
    background: url(img/estetica.jpeg) no-repeat center center/cover;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #fff !important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #fff !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
}

.owl-prev {
    left: 40px;
}

.owl-next {
    right: 20px;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 30px;
    color: #fff;
    transition: all 0.2s;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #777;
}

/* Contenido */
.especialidades {
    font-family: 'Lexend', sans-serif;
    background-color: rgb(0, 129, 253);
}

.especialidades .titulo {
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    color: #fff;
}

.especialidades .descripcion {
    margin-top: -65px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #fff;
}

/* espcialidades en blanco */
.especialidades-b {
    font-family: 'Lexend', sans-serif;
    background-color: #FFFFFF;
}

.especialidades-b .titulo {
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    color: #1E66AA;
}

.especialidades-b .descripcion {
    margin-top: -45px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #525252;
}

/* iamgenes de contenido */

#img-1 {

    border: 5px solid #1E66AA;
    border-radius: 20px;
}

#img-2 {
    border: 5px solid #fff;
    border-radius: 20px;
}



/* Footer */
.ondas {
    height: 100%;
    margin-top: -140px;
}

footer{
    background: linear-gradient(0deg, rgba(30,102,170,1) 0%, rgba(0,129,253,1) 100%);
}

.footer ul {
    list-style: none;
}

.footer_datos img {
    width: 250px;
}

.footer_datos {
    color: #1E66AA;
    background-color: #fff;
    border-radius: 50%;
    height: 150px;
    max-width: 700px;
    padding: 20px;
    text-align: center;
}

@media(min-width: 768px) {
    .footer_datos img {
        width: 250px;
    }

    .footer_datos {
        height: 343px;
    }

}

/*onda*/
.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-top: -20px;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 180px;
    max-height: 250px;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        padding-top: 0px;
        height: 100px;
        min-height: 100px;
    }

    h1 {
        font-size: 24px;
    }
}