@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body{
    background-color: #0081FD;
}

.header nav{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav_links{
    list-style: none;
}

.header .nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav_links li:hover{
    transform: scale(1.1);
}

.header .nav_links a{
    font-size: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .nav_links li a:hover{
    color: #135A75;
}

.header .btn button{
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background: #0081FD;
    border-color: #135A75;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #FFFFFF;
    color: #0081FD;
    transform: scale(1.1);
}
/* Carrousel */
.carousel-item img {
    width: 100%; 
    height: 860px;
    object-fit: cover;
  }

/* Nosotros */
.nosotros{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 50px 10%;
}
.nosotros .nosotros-container{
    display: flex;
    flex-wrap: wrap;
}
.nosotros img {
    width: 100%; 
    height: 557px;
    object-fit: cover;  
}

/* testimonios */
.testimonios{
    background-color: #0081FD;
    padding: 200px;
}

.testimonios img{
    height: 100px;
    width: 100px;
}
.testimonios .card{
    font-size: 700;
    background-color: #0081FD;
    border: 10px solid #FFFFFF;
}