@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Roboto:wght@400;700&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    background-color: #ededed;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

.text-justify {
    text-align: justify;
}
  
/* Encabezado */
header .nav-item .nav-link {
    line-height: 3;
}

.header .logo img{
    height: auto;
    max-width: 100%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-link{  
    list-style: none;   
}

.header .nav-link li{
    display: inline-block;
    padding: 0 10px;
}
.header .nav-link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
  }

.header .nav-item .nav-link:hover{
    color: #1E66AA;
    transform: scale(1.1);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0081FD;
}

.header .nav-link{
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .btn button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background-color: #0081FD;
    border: 2px solid #1E66AA;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #FFFFFF;
    color: #0081FD;
    transform: scale(1.1);
}


.casos{
    padding-top: 100px;
}