@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Roboto:wght@400;700&display=swap');


html{
    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }

.text-justify {
    text-align: justify;
}
  
/* Encabezado */
header .nav-item .nav-link {
    line-height: 3;
}

.header .logo img{
    height: auto;
    max-width: 100%;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-link{  
    list-style: none;   
}

.header .nav-link li{
    display: inline-block;
    padding: 0 10px;
}
.header .nav-link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
  }

.header .nav-item .nav-link:hover{
    color: #1E66AA;
    transform: scale(1.1);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0081FD;
}

.header .nav-link{
    font-weight: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .btn button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background-color: #0081FD;
    border: 2px solid #1E66AA;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #FFFFFF;
    color: #0081FD;
    transform: scale(1.1);
}


.main{
    padding-top: 100px;
    background-color: #1E66AA;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    height: 100vh;
  }
  
  .content,
  .content1,
  .content2,
  .content3,
  .content4,
  .content5 {
    position: relative;
    width: 700px;
    height: 330px;
    border: 2px solid white;
  }
  .content .img,
  .content1 .img,
  .content2 .img,
  .content3 .img,
  .content4 .img,
  .content5 .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 900px 100%;
  }
  .content .background-img {
    background-image: url(/img_doc/1.jpeg);
  }
  .content .foreground-img {
    background-image: url(/img_doc/2.jpeg);
    width: 50%;
  }

  .content1 .background-img1 {
    background-image: url(/img_doc/3.jpeg);
  }
  .content1 .foreground-img1 {
    background-image: url(/img_doc/4.jpeg);
    width: 50%;
  }

  .content2 .background-img2 {
    background-image: url(/img_doc/5.jpeg);
  }
  .content2 .foreground-img2 {
    background-image: url(/img_doc/6.jpeg);
    width: 50%;
  }

  .content3 .background-img3 {
    background-image: url(/img_doc/7.jpeg);
  }
  .content3 .foreground-img3 {
    background-image: url(/img_doc/8.jpeg);
    width: 50%;
  }

  .content4 .background-img4 {
    background-image: url(/img_doc/9.jpeg);
  }
  .content4 .foreground-img4 {
    background-image: url(/img_doc/10.jpeg);
    width: 50%;
  }

  .content5 .background-img5 {
    background-image: url(/img_doc/7.jpeg);
  }
  .content5 .foreground-img5 {
    background-image: url(/img_doc/8.jpeg);
    width: 50%;
  }

  
  .content .slider,
  .content1 .slider1,
  .content2 .slider2,
  .content3 .slider3,
  .content4 .slider4,
  .content5 .slider5{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.3);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .slider:hover,
  .content1 .slider1:hover,
  .content2 .slider2:hover,
  .content3 .slider3:hover,
  .content4 .slider4:hover,
  .content5 .slider5:hover{
    background: rgba(242, 242, 242, 0.1);
  }
  .content .slider::-webkit-slider-thumb,
  .content1 .slider1::-webkit-slider-thumb,
  .content2 .slider2::-webkit-slider-thumb,
  .content3 .slider3::-webkit-slider-thumb,
  .content4 .slider4::-webkit-slider-thumb,
  .content5 .slider5::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 330px;
    background: white;
    cursor: pointer;
  }
  .content .slider::-moz-range-thumb,
  .content1 .slider1::-moz-range-thumb,
  .content2 .slider2::-moz-range-thumb,
  .content3 .slider3::-moz-range-thumb,
  .content4 .slider4::-moz-range-thumb,
  .content5 .slider5::-moz-range-thumb {
    width: 6px;
    height: 300px;
    background: white;
    cursor: pointer;
  }
  .content .slider-button,
  .content1 .slider-button1,
  .content2 .slider-button2,
  .content3 .slider-button3,
  .content4 .slider-button4,
  .content5 .slider-button5 {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .slider-button:after,
  .content1 .slider-button1:after,
  .content2 .slider-button2:after,
  .content3 .slider-button3:after,
  .content4 .slider-button4:after,
  .content5 .slider-button5:after {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
  }
  .content .slider-button:before,
  .content1 .slider-button1:before,
  .content2 .slider-button2:before,
  .content3 .slider-button3:before,
  .content4 .slider-button4:before,
  .content5 .slider-button5:before {
    content: "";
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
  }