@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body{
    background-color: #0081FD;
}

.header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.header .logo{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav_links{
    list-style: none;
}

.header .nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav_links li:hover{
    transform: scale(1.1);
}

.header .nav_links a{
    font-size: 700;
    color: #0081FD;
    text-decoration: none;
}

.header .nav_links li a:hover{
    color: #135A75;
}

.header .btn button{
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background: #0081FD;
    border-color: #135A75;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #FFFFFF;
    color: #0081FD;
    transform: scale(1.1);
}